<%- include('partials/navbar.ejs') %>

    <div id="topPart">
        <h1 class="titleOne">About Felha</h1>
        <div class="grid text-center gridGap">
            <div class="g-col-12 g-col-sm-6 members storyAbout">
                <h2 class="storyText">Our Story</h2>
                <h3 class="storyText">Felha is your go-to website for all the latest events and destinations in Bahrain!
                    We're passionate about helping you make the most out of your time in this beautiful country. Whether
                    you're looking for family-friendly activities or a night out with friends, Felha has got you
                    covered. Our user-friendly platform makes it easy to find and choose your preferred destination, so
                    you can enjoy all the rich cultural and social experiences that Bahrain has to offer. Join us on
                    this exciting journey of discovery and make every day an adventure with Felha!

                </h3>
            </div>
            <div class="g-col-12 g-col-sm-6">
                <img src="https://i.imgur.com/fHSlijH.jpg" width="500" class="imgStyleA">
            </div>
        </div>

    </div>




    <div class="grid text-center membersContainer ">
        <div class="g-col-12 g-col-sm-3 members">
            <img src="https://i.imgur.com/pXN7qwvb.jpg" width="100" class="imgStyleA">
            <h1>Noor Sharaf</h1>
            <h2 class="paragraphStyle">Web Media Specialist</h2>
        </div>

        <div class="g-col-12 g-col-sm-3 members">
            <img src="https://i.imgur.com/MOn5d1Gb.jpg" width="100" class="imgStyleA">
            <h1>Ali Abadi</h1>
            <h2 class="paragraphStyle">Computer Scientist</h2>
        </div>
        <div class="g-col-12 g-col-sm-3 members">
            <img src="https://i.imgur.com/xmFV1aeb.jpg" width="100" class="imgStyleA">
            <h1>Mahmood</h1>
            <h2 class="paragraphStyle">Information Technology</h2>
        </div>
        <div class="g-col-12 g-col-sm-3 members">
            <img src="https://i.imgur.com/faiwHHrb.jpg" width="100" class="imgStyleA">
            <h1>Natheer</h1>
            <h2 class="paragraphStyle">Software Engineer</h2>
        </div>
    </div>

    <!-- <div class="g-col-3 members">
        <img src="bh.jpeg" width="100">
        <h1>Ali Abadi</h1>
        <h2 class="paragraphStyle">Computer Scientist</h2>
            </div><div class="g-col-3 members">
                <img src="bh.jpeg" width="100">
                <h1>Mahmood Mohammed</h1>
                <h2 class="paragraphStyle">Information Technology</h2>
                    </div><div class="g-col-3 members">
                        <img src="bh.jpeg" width="100">
                        <h1>Natheer Hassan</h1>
                        <h2 class="paragraphStyle">Software Engineer</h2>
                            </div> -->
</div>



    <div class="grid text-center">
        <div class="g-col-12 quote">
            <h1>Goal</h1>
            <h3 class="paragraphStyle">At Felha, our mission is to empower you to maximize every moment of your life by
                making mindful choices about how you spend your free time. We have crafted the Felha website with the
                sole purpose of helping you curate a fulfilling and enriching experience. Whether you seek adventure,
                knowledge, or relaxation, we provide a platform that enables you to make intentional decisions and seize
                the opportunities that resonate with your passions and interests. Join us on this journey of embracing
                meaningful experiences and making the most of your precious time.</h3>

        </div>

    </div>

    <h1 class="titleOne" id="instaTitle"> Follow us On Instagram</h1>
    <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
    <div class="elfsight-app-632791c6-32db-4f1f-97ea-421b695768be"></div>










    <%- include('partials/footer.ejs') %>