<%- include('partials/navbar.ejs') %>

<div id="topPart">
    <h1 class="titleOne">About Felha</h1>
<div class="grid text-center gridGap">
<div class="g-col-6 storyAbout">
    <h2 class="storyText">Our Story</h2>
    <h3  class="storyText">Felha is your go-to website for all the latest events and destinations in Bahrain! We're passionate about helping you make the most out of your time in this beautiful country. Whether you're looking for family-friendly activities or a night out with friends, Felha has got you covered. Our user-friendly platform makes it easy to find and choose your preferred destination, so you can enjoy all the rich cultural and social experiences that Bahrain has to offer. Join us on this exciting journey of discovery and make every day an adventure with Felha!


    </h3>
</div>
<div class="g-col-6">
<img src="bh.jpeg" width="500">
</div>
</div>





</div>




<div class="grid text-center membersContainer ">
    <div class="g-col-3 members">
<img src="bh.jpeg" width="100">
<h1>Ali Abadi</h1>
<h2>Front-End developer</h2>
    </div>

    <div class="g-col-3 members">
        <img src="bh.jpeg" width="100">
        <h1>Ali Abadi</h1>
        <h2>Front-End developer</h2>
            </div><div class="g-col-3 members">
                <img src="bh.jpeg" width="100">
                <h1>Ali Abadi</h1>
                <h2>Front-End developer</h2>
                    </div><div class="g-col-3 members">
                        <img src="bh.jpeg" width="100">
                        <h1>Ali Abadi</h1>
                        <h2>Front-End developer</h2>
                            </div>
</div>






<div class="grid text-center">
<div class="g-col-12 quote">
<h1>Goals</h1>
<h3>fdljkafkljdjklads;</h3>

</div>

</div>












<%- include('partials/footer.ejs') %>
