<%- include('partials/navbar.ejs') %>




<div id="aboveTheFold">
  <h1 class="titleOne">Can't Decide Where you wanna go?</h1>
<select id="city"  name="city">
<option value="manama">Manama</option>
<option value="muharraq">Muharraq</option>
<option value="isa-town">Isa Town</option>
</select>




<div class="grid text-center gridGap">
<div class="g-col-3 activitiesChild"><img src="bh.jpeg" class="placeImg">
  <h2>meow</h2>
  <h3>Meow Meow Meow</h3></div>
<div class="g-col-3 activitiesChild"><img src="bh.jpeg" class="placeImg">
  <h2>meow</h2>
  <h3>Meow Meow Meow</h3></div>
<div class="g-col-3 activitiesChild"><img src="bh.jpeg" class="placeImg">
  <h2>meow</h2>
  <h3>Meow Meow Meow</h3></div>
<div class="g-col-3 activitiesChild"><img src="bh.jpeg" class="placeImg">
  <h2>meow</h2>
  <h3>Meow Meow Meow</h3></div>
</div>

</div>


<h1 class="titleOne" id="activityTitle">Find your Favorite Activity!</h1>



<div class="grid text-center" id="activitySection">
  

 

  <div class="g-col-12 threeRows">
      <h1>Choose Your Category</h1>
      <h4>Education/ Sports/ Music</h4>
      <a href="/categories">

          <button type="button" class="btn btn-primary">Categories</button>
          </a>

          </div>

             
<div class="g-col-12 threeRows">
<h1>Select Your Event</h1>
<h4>Education/ Sports/ Music</h4>
<a href="/events">
  <button type="button" class="btn btn-primary">Events</button>

  </a>            </div>
  <div class="g-col-12 threeRows">
      <h1>Suggest an Activity</h1>
      <h4>Education/ Sports/ Music</h4>
      <a href="/suggestions">

          <button type="button" class="btn btn-primary">Suggest</button>
          </a>                    </div></div>




          <div class="grid text-center">



            <div class="g-col-12" id="aboutFelha">
            
            <h1>About Felha</h1>
            <h4>blah blah blah</h4>
            
            </div>
            
            
            </div>
            















<%- include('partials/footer.ejs') %>












