.landing {
  min-height: 100vh;
  background-color: #1f2021;
  background-image: url("../images/404Land.jpg");
  background-size: cover;
  position: relative;
}
.landing::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 40%);
}
.landing .content {
  position: absolute;
  left: 0;
  top: 10%;
  padding: 50px;
  margin-left: 20px;
  background-color: rgb(255 255 255 / 60%);
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.landing .content img {
  width: 300px;
  text-align: center;
  object-fit: cover;
}
@media (max-width: 767px) {
  .landing .content {
    width: 100%;
    align-items: center;
    margin-left: 0;
  }
}
.landing .content h2 {
  font-size: 32px;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 10px;
}
.landing .content p {
  font-size: 14px;
  margin-bottom: 10px;
}
.landing button {
  background-color: black;
  color: white;
  padding: 10px 25px;
  border: none;
  text-transform: capitalize;
  border-radius: 18px;
  width: fit-content;
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
}
.landing button a {
  text-decoration: none;
  color: white;
}
.landing button:hover {
  opacity: 0.8;
}
